# UV files
.venv/

# Data files
data/raw/

# Secrets
.env

# Python
__pycache__/
.pytest_cache/

# IDE folders
.vscode/
.idea/

# Local development notes
.dev-notes/

# Generated dbt artifacts
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml
